* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

.body{
   background-color: rgb(197, 197, 197);
}
.barra-navegación {
   display: flex;
   justify-content: space-between;
   background-color: #3F3F3F;
   align-items: center;
   padding: 20px 40px;
   box-shadow: 0 1px 3px gray;
   color: white;
   align-items: center;
   justify-content: center;
}


.logotipo {
   font-size: 1.5rem;
   font-weight: 700;
}

.nav {
   display: flex;
   align-items: center;
   gap: 20px;
}

.nav a {
   text-decoration: none;
   color: white;
   font-weight: 500;
}

.hover {
   transition: transform 0.3s ease, margin-left 1s ease
}

.hover:hover {
   transform: scale(1.2);
   /* .1 añade 10% en tamaño */
}

.hover2 {
   transition: transform 0.3s ease, margin-left 1s ease
}
.hover2:hover {
   transform: scale(1.2);
   /* .1 añade 10% en tamaño */
}

.blue {
   color: #2563eb;
}

.contenedor-principal {
   display: flex;
}

.tarjeta-perfil {
   width: 600px;
   margin-left: 20px;
   display: flex;
}

.caja {
   position: relative;
   color: white;
   background-color: white;
   font-weight: bold;
   width: 300px;
   height: 350px;
   border-radius: 10px;
   margin-top: 40px;
   border: 2px solid black;
}

.caja p {
   color: black;
}

.azul {
   background-color: #008DD2;
   height: 30%;
}

.sans {
   position: absolute;
   /* se ancla exactamente a la esquina superior derecha de la ventana modal*/
   top: 60px;
   right: 250px;
   color: white;
   width: 110px;
   height: 110px;
   border-radius: 50%;
   font-weight: bold;
   font-size: 14px;
   cursor: pointer;
   border: solid 5px white;
}

.descripcion-tarjeta {
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 20px;
}

.color {
   color: rgb(15, 15, 15);
   margin-top: 10px;

}

.end{
   display: flex;
   
}

.columna-izquierda {
   display: flex;
   flex: 1;
   width: 100%;
   margin-top: 20px;
   margin-left: 20px;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.columna-derecha {
   display: flex;
   margin-left: 40px;
   flex-direction: column;
   flex: 3;
}

.flex{
   display: flex;
}

.texto{
   display: flex;
   margin-top: 20px;
   margin-left: 20px;
}

.texto2{
   display: flex;
   align-items: end;
}

.tarjeta-publicacion {
   background-color: #f3f3f3;
   border: 2px solid #000;
   border-radius: 10px;
   padding: 20px;
   margin-top: 20px;
}

.encabezado-tarjeta {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 12px;
}

.imagen {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   object-fit: cover;
}

.button{
   cursor: pointer;
   background-color: #6C5CE7;
   color: white;
   border-radius: 40px;
   height: 30px;
   width: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
}

.barra-busqueda{
   cursor: pointer;
   background-color: white;
   color: gray;
   border-radius: 40px;
   height: 30px;
   width: 600px;
   display: flex;
   justify-content: start;
   align-items: center;
   border: none;
   font-size: 1.0rem;
   padding: 0 15px;
}
.espacio{
   margin-left: 20px;
}

.perfil {
   padding: 12px 20px;
   font-size: 18px;
   background-color: #2B9DC0;
   width: 110px;
   color: white;
   border: none;
   cursor: pointer;
   transition: background 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
}

.btn-like {
   background-color: #ffd15c;
   color: #000;
   border: none;
   border-radius: 5px;
   padding: 6px 18px;
   font-weight: bold;
   cursor: pointer;
   transition: transform 0.1s ease;
   margin-left: 7px;
}

.btn-like:hover {
   transform: scale(1.05);
}

.boton{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   transition: transform 0.3s ease, margin-left 1s ease
}

.boton:hover {
   transform: scale(1.2);
   /* .1 añade 10% en tamaño */
}

.boton2{
   display: flex;
   align-items: center;
   justify-content: start;
   margin-top: 10px;
   width: 200px;
}

.misato{
   width: 200px;
   height: 200px; /* Iguala el alto para crear un contenedor cuadrado */
   border-radius: 50%;
}

.margin{
   margin-top: 20px;
}

.seccion-gusta {
   display: flex;
   align-items: center;
   gap: 15px;
   font-size: 0.95rem;
}