* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   /* Contabiliza los bordes*/
   /*outline: solid 1px red;*/
}

.encabezado {
   width: 100%;
   /*todo ancho de la pagina*/
   background-color: greenyellow;
   padding: 15px;
}

.titulo_header {
   text-align: center;
   color: black;
}

.container {
   outline: solid 1px gray;
   /* Solo para visualizar el contenido*/
   margin: 0 auto;
   /* Centra el contenedor */
   width: 900px;
   padding: 20px;
}

.row{
   padding: 30px;
}

/*Tamaño ejemplo CSS*/

.aceptar {
   width: 100px;
   height: 50px;
}

.caja1 {
   margin: 0 auto;
   /*Centar un elemento */
   width: 80%;
   /* Porcentaje para dar el tamaño 80/100*/
   height: 200px;
   background-color: lightblue;
}

.parrafo1 {
   font-size: 30px;
   /* Tamaño fijo*/
}

.link1 {
   font-size: 300%;
   /*Tamaño proporcional*/
}

.cursiva {
   font-style: italic;
}

/*
📦 Manejo de contenido con overflow
*/

.example1 {
   background-color: aliceblue;
   height: 100px;
   width: 300px;
}

.example2 {
   height: 100px;
   width: 300px;
   background-color: green;
}

.example3 {
   height: 100px;
   width: 300px;
   background-color: blueviolet;
}

.caja {
   width: 200px;
   height: 100px;
   display: inline-block;
   /* Elementos en bloque o columnas*/
}

.hidden {
   /* Oculta los elementos que sobresalen*/
   overflow: hidden;
}

.scroll {
   overflow: scroll;
}

.auto {
   overflow: auto;
}

/*🎨 Fondo y colores*/
.banner {
   height: 200px;
   width: 100%;
   background: red url("/STACK_CSS/06_tamaños/static/images/descarga.png") no-repeat center center;
   background-size: 100%;
}

/*🟫 Bordes y estilos */

.cancelar {
   border: 2px dotted red; /* dotted: linea segmentada*/
   padding: 15px;
   cursor: pointer;
}
.articulo {
   border: 2px solid black; /* solid: linea solida*/
   height: 50px;
   width: 100px;
}

/*🟢 Bordes redondeados*/

.boton_redondeado {
   padding: 10px 40px;
   border-radius: 15px; /* redondea esquinas*/
   cursor: pointer;
}
.caja_redondeado {
   width: 40px;
   height: 40px;
   padding: 10px 16px;
   background-color: blue;
   font-weight: bold;
   color: white;
   border-radius: 50%; /* 50% de radius: circulo perfecto*/
   cursor: pointer;;
}
.cajitas{
   width: 150px;
   height: 40px;
   outline: solid 1px purple;
}
.box1{background-color: rgba(8, 228, 228, 0.452);
   padding: 10px; /*Padding aplicado a todos los lados*/
}
.box2{background-color: rgba(255, 0, 13, 0.404);
   padding-top: 0px; /*Espacio interno: arriba*/
   padding-right: 5px; /*Espacio interno: derecha*/
   padding-bottom: 0px; /*Espacio interno: abajo*/
   padding-left: 5px; /*Espacio interno: izquierda*/
   /*padding: 0px 5px 0px 5px --> Aplicando en todos los lados*/
   /*padding: 0px 5px --> 0px del eje (y) y 5px del eje (x)*/
}
.box3{
   background-color: rgba(6, 112, 6, 0.377);
   margin: 10px; /*Margen externp: Separa elementos*/
}
.box4{
   background-color: rgba(12, 12, 151, 0.322);
   margin: 0px 20px; /* eje x modificado con margin */
   padding: 5px 0px; /* eje y modificado con padding*/
}
.box5{ 
   background-color: rgba(0, 255, 255, 0.397);
   float: left;
   width: 30%;
}