*{
   outline:solid black 1px ; 
}
body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   padding: 20px;
}
.container {
   display: flex; /* Activa flexbox en este contenedor */
   justify-content: center; /*alinear horizontalmente*/
   background-color: #f0f0f0;
   padding: 20px;
   flex-wrap: wrap;
}

.item {
   background-color: #00ade5;
   color: #fff;
   margin: 20px;
   padding: 20px;
}

.contenedor {
   background: #ffffff;
   padding: 20px;
   border-radius: 10px;

   /* Propiedades flexbox */
   display: flex;
   justify-content: space-between;
}

.elemento {
   margin: 10px;
   background-color: #00ade5;
   color: #ffffff;
   padding: 20px;
   border-radius: 10px;
}
.row{
flex-direction: row; /*en filas*/
}
.column{
flex-direction: column; /*en columnas*/
}
.start{
justify-content: start; /*alinaer izquierda*/
}
.center{
justify-content: center;/* Centrar elementos*/
}
.space-between{
justify-content: space-between; /*distribucion de elementos*/
}